<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="static/style/custom.css" rel="stylesheet">
</head>

<body class="text-center">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Trade Booker</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="/book">New Trade</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">

        <div class="table-container" style="margin-top: 20px;">

            <h3>New Trade</h3>
            <br>
            <hr>
            <br>
            <form>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2" style="width: 90px;">Sell</span>
                            </div>
                              <select class="custom-select" id="sell_currency">
                                <option selected></option>
                                  {% for symbol in symbols %}
                                    <option value="{{ symbol }}">{{ symbol }}</option>
                                  {% end %}
                              </select>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2" style="width: 90px;">Amount</span>
                            </div>
                              <input type="currency" id="sell_amount" class="form-control" value="1.0">
                        </div>

                        <button type="button" id="submit" class="btn btn-success" onClick="submit_trade();" disabled>Create</button>

                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text">></span>
                          </div>
                          <input type="text" id="rate" class="form-control" placeholder="rate" style="text-align: center;" disabled>
                          <div class="input-group-append">
                            <span class="input-group-text">></span>
                          </div>
                        </div>

                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <select class="custom-select" id="buy_currency">
                                <option selected></option>
                                {% for symbol in symbols %}
                                    <option value="{{ symbol }}">{{ symbol }}</option>
                                  {% end %}
                            </select>
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2" style="width: 90px;">Buy</span>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <input type="number" id="buy_amount" class="form-control" placeholder="amount" disabled>
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2" style="width: 90px;">Amount</span>
                            </div>
                        </div>

                        <button type="button" class="btn btn-secondary" onClick="cancel_booking();">Cancel</button>
                    </div>
                </div>
            </form>

        </div>

    </main>

    <footer class="mastfoot mt-auto">
    </footer>
</div>

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="static/js/trade_booker.js"></script>
<script type="text/javascript">

    $("#sell_currency").change(function() {
        on_currency_changed();
    });

    $("#buy_currency").change(function() {
        on_currency_changed();
    });

    $("#sell_amount").change(function() {
        on_currency_changed();
    })

</script>
</body>
</html>
