
<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>{{ title }}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <!-- Custom styles for this template -->
      <link href="static/style/custom.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Trade Booker</h3>
          <nav class="nav nav-masthead justify-content-center">
              <a class="nav-link active" href="/">Home</a>
              <a class="nav-link" href="/book">New Trade</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">

          <div class="row table-container" style="margin-top: 20px;">

              <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Sell Currency</th>
                  <th scope="col">Sell Amount</th>
                  <th scope="col">Buy Currency</th>
                    <th scope="col">Buy Amount</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Date Booked</th>
                </tr>
              </thead>
                <tbody>
                {% for trade in trades %}
                    <tr>
                        <th scope="row">{{ trade.format_id() }}</th>
                        <td>{{ trade.sell_currency }}</td>
                        <td>{{ round(trade.sell_amount, 2) }}</td>
                        <td>{{ trade.buy_currency }}</td>
                        <td>{{ round(trade.buy_amount, 2) }}</td>
                        <td>{{ trade.rate }}</td>
                        <td>{{ trade.format_date() }}</td>
                    </tr>
                {% end %}
              </tbody>
            </table>

          </div>

      </main>

      <footer class="mastfoot mt-auto">
      </footer>
    </div>

    <!-- JQuery -->
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
